@font-face {
    font-family: 'ppmori';
    src: url('../font/PPMori-SemiBold.woff2') format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'ppmori';
    src: url('../font/PPMori-Medium.woff2') format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'ppmori';
    src: url('../font/PPMori-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'ppmori';
    src: url('../font/PPMori-Book.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'pretendard';
    src: url('../font/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
}